.lp-card {
  position: relative;
  border-radius: 12px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(0, 0, 0);
}

.lp-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.lp-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 0rem;
  box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

.card-info h3 {
  margin: 0;
  font-size: 1rem;
}

.card-info p {
  margin: 0;
  font-size: 0.75rem;
}